body {
  background: #F4F4F4;
  font: 16px/24px "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
}

#content {
  bottom: 0;
  left: 246px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}
