.notes-list {
  position: relative;
}

.notes-list-item {
  background: #FC8E09;
  color: #C7540A;
  display: flex;
  display: -webkit-flex;
  position: absolute !important; // Because Webkit + jQuery draggable wants to set this to relative
  
  &:before {
    bottom: 0;
    background: #C7540A;
    content: "";
    height: 24px;
    position: absolute;
    right: 0;
    width: 24px;
  }
  
  &:after {
    border: 12px solid transparent;
    border-right-color: #F4F4F4;
    border-bottom-color: #F4F4F4;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
  }
}

.note-type-image {
  background: #71459A;
  color: #421C67;
  
  &:before {
    background: #421C67;
  }
}

.note-content-as-fill {
  background-position: center;
  background-size: cover;
}

.note-content {
  margin: auto 0;
  text-align: center;
  width: 100%;
  
  textarea {
    border: 0;
    color: #C7540A;
    background: transparent;
    font: 16px/24px "Helvetica Neue", Arial, sans-serif;
    max-height: 240px;
    min-height: 24px;
    margin: 0;
    padding: 0;
    resize: none;
    text-align: center;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    
    &:focus {
      outline: 0;
    }
  }
}
